<!-- References parent template and imports -->
{% extends 'base.html' %}

<!-- Overrides parent's template content block -->
{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Welcome back, {{ current_user.username }}!</h1>
    {% else %}
        <h1>Welcome to our shop. Please register to use our app</h1>
    {% endif %}

    <div class="row">
        {% for prod in products %}
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{{ prod.image_url }}" class="card-img-top" alt="{{ prod.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ prod.name }}</h5>
                        <p class="card-text">{{ prod.price }}</p>
                        <a href="{{ url_for('product_info', prod_id=prod.id) }}" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}